{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}My Items{% endblock %}

{% block con %}
<br>
<h2>My Items</h2><br>
<table class="table table-striped table-hover table-bordered ">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Barcode</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.name }}</td>
            <td>{{ item.barcode }}</td>
            <td>₹{{ item.price }}</td>
            <td>{{ item.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}